
<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>MyTitle</title>
</head>
<body>
	<header>
		<h1>Header Zone - Virtual Unju</h1>
	</header>
	<nav>
		<a href="https://virtual.unju.edu.ar/">Link 1 - Home Page</a>
		<br>
		<a href="https://virtual.unju.edu.ar/course/view.php?id=2540">Link 2 - Programacion_Visual Home</a>
		<br> 
		<a href="https://virtual.unju.edu.ar/user/profile.php?id=95175">Link 3 - My Profile on Virtual UNJu</a>
	</nav>
	<main>
		<section>
			<h2>Section 1 Title with h2 tag</h2>
			<h3>Section 1 Title with h3 tag</h3>
		</section>

		<section>
			<h2>Section 2 Title with h2 tag</h2>
			<h3>Section 2 Title with h3 tag</h3>
		</section>

		<section>
			<h2>Section 3 Title with h2 tag</h2>
			<h3>Section 3 Title with h3 tag</h3>
		</section>
		
		<p>new paragraph with p</p>
		
		<br>

		<h1>Unordered List</h1>
		<ul>
			<li>First Line</li>
			<li>Second Line</li>
		</ul>

		<h1>Ordered List</h1>
		<ol>
			<li>First Line</li>
			<li>Second Line</li>
		</ol>
		
		<table>
			<tr>
				<th>Column 1 title</th>
				<th>Column 2 title</th>
			</tr>
			<tr>
				<td>Element column 1</td>
				<td>Element column 2</td>
			</tr>
		</table>
		<br>
	</main>

	<aside>
		<a href="https://virtual.unju.edu.ar/" target="_blank">Link on aside - Home Page</a>
		<img alt="Image example" src="/Images/unju.png" title="Unju Picture"> 
	</aside>

	<footer>
		<p>Footer Page</p>
		<p>Social Media Links Here</p>
		<p>End of Page</p>
	</footer>
</body>
</html>